<!DOCTYPE html>
<html>
  <head>
    <title>New Article</title>
  </head>

  <body>
    <h1>New Article</h1>

    <form action="/articles" method="post">

     <label for="article">Article:</label><br>
     <input type="text" id="article_title" name="article_title"><br>

     <label for="article_url">Article URL:</label><br>
     <input type="url" id="article_url" name="article_url" required><br>

     <label for="article_desc">Article Description:</label><br>
     <input type="text" id="article_desc" name="article_desc"><br><br>

     <input type="submit">
    </form>

  </body>
</html>
